@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 0px;
}

:root {
    --bar-height: 40px;
}

body, html {
    height: 100%; 
    margin: 0;
    overflow: auto; 
    background-color: rgb(0, 0, 0);
}



#particles-js {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 1; 
    pointer-events: none; 
}
.bar {
    background-color: rgb(12, 12, 12);
    width: inherit;
    height: var(--bar-height);
    display: flex;
    z-index: 1; 
    position: relative;
}

#miniSYS-logo-Div, #Github-logo-Div, #Ukrainian {
    display: flex;
    width: 50%;
    height: var(--bar-height);
    align-items: center;
}

#Github-logo-Div, #Ukrainian {
    justify-content: flex-end;
}

.Bar-Text {
    margin-left: 47px;
    text-decoration: none;
    color: rgba(150, 150, 150, 1);
    font-size: 20px;
}

.Bar-Text:last-child {
    margin-right: 47px;
}

.main-container-1 {
    width: 100%;
    height: calc(100vh - var(--bar-height)); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    z-index: 1; 
    color: white; 
    position: relative;
}

.main-container-1 > img {
    height: 60px;
    width: 60px;
}

.main-container-1 > img:hover {
    cursor: pointer;
}

.main-container-2 {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    position: relative;
    flex-direction: column;
}


.task-container{
    z-index: 3;
    width: 89%;
    height: auto;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    flex-direction: column;
    animation: fadeInUp 1s ease-in-out;
}

.task{
    background-color: rgba(35, 35, 35, 1);
    width: 100%;
    height: 20%;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
}

.task > p{
    margin-left: 10px;
    color: white;
}

.under-task {
    overflow-y: auto; 
    background-color: rgba(14, 14, 14, 1);
    width: 100%; 
    height: auto; 
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px; 
    padding-bottom: 20px;
    box-sizing: border-box; 
}

.under-task::-webkit-scrollbar{
    display: none;
}

.under-task img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.under-task > p {
    margin: 0; 
    color: white;
    word-wrap: break-word; 
    word-break: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
}


footer{
    z-index: 1; 
    position: relative;
}
.footer-container{
    margin-top: 50px;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 12, 12, 1);
}

.tail{
    height: inherit;
    width: 40%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 450px) {
    .tail{
        width: 80%;
    }
    .main-container-1{
        font-size: 23px;
    }
    .down-btn{
        width: 50px;
        height: 50px;
    }
    .Bar-Text{
        font-size: 16px;
    }
}
.down-btn{
    
}
.glory-to-ukraine-div{
    width: 100%;
    height: 15%;
    background-color: rgba(12, 12, 12, 1);
    color: rgba(161, 161, 161, 1);
    text-align: center;
}

.contact-and-additional-divs{
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: space-between;
}
.contacts-div{
    text-align: end;
    width: 45%;
    height: 100%;
    color: rgba(161, 161, 161, 1);
}

.contacts-div > a{
    display: block;
    margin-bottom: 10px;
}

.additional-div{
    text-align: start;
    width: 45%;
    height: 100%;
    color: rgba(161, 161, 161, 1);
}
.additional-div > a{
    display: block;
    margin-bottom: 10px;
}
.created-by-div{
    width: 100%;
    height: 100%;
    text-align: center;
}
.created-by-div > a{
    display: block;
    margin-top: 10px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1, p, a {
    animation: fadeInUp 1s ease-in-out;
}


img {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.Bar-Text {
    transition: color 0.3s ease-in-out;
}

.Bar-Text:hover {
    color: rgba(255, 255, 255, 1);
}



.fira-mono-regular {
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.fira-mono-medium {
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

.fira-mono-bold {
    color: white;
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.contacts-font, .in-text-link {
    color: rgba(100, 100, 100, 1);
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.in-text-link {
    color: red;
}

/* 17.07.2025 */

.release-task-container{
    z-index: 3;
    width: 60%;
    height: auto;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    flex-direction: column;
    animation: fadeInUp 1s ease-in-out;
}

.release-task{
    background-color: rgba(35, 35, 35, 1);
    width: 100%;
    height: 25%;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.release-task > p{
    margin-left: 10px;
    color: white;
}

.release-under-task {
    overflow-y: auto; 
    background-color: rgba(14, 14, 14, 1);
    width: 100%; 
    height: auto; 
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px; 
    padding-bottom: 20px;
    box-sizing: border-box; 
}

.release-under-task > p {
    margin: 0; 
    color: white;
    word-wrap: break-word; 
    word-break: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
}

.columns-wrapper {
    padding: 10px; 
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0 auto;
}

.links-columns {
    padding: 10px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.release-link, .download-link {
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgba(161, 161, 161, 1);
    transition: color 0.3s;
    text-decoration: none;
}

.download-link {
    margin-right: 20px;
}

.hide-on-mobile {

}

@media (max-width: 900px) {
    .release-task-container {
        width: 80%;
    }
    .columns-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .hide-on-mobile {
        display: none;
    }
}

/* С тебя минет)))) */
/* Хорошо, моя булочка с клубникой ;з */

/* я скучаю... */
